.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.portfolio li .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: .5rem;
}

.portfolio li a.link {
    position: relative;
    padding-left: 28px;  
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.portfolio li a.github-link::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url('../img/icons/github.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.portfolio li a.demo-link::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url('../img/icons/eye.svg'); 
  background-repeat: no-repeat;
  background-size: contain;
}

.portfolio li a:hover {
    background-color: #c903b2;
}

.portfolio li a.demo-link:hover {
    background-color: #c903b2;
}